%p Add a new Category
=simple_form_for [:admin, @category] do |f|
  
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label"Choose Picture"  	
    = f.file_field :picture
  %p
    = f.submit "Add category"