.lot{id: "lot_#{@lot.id}"}
  %h1
    = @lot.name
  %h3
    = @lot.price
  %p
    =@lot.start_time
  %p.expired_time
    =@lot.expired_time

    
= button_to 'Make a Bet!', bets_path(lot_id: @lot), remote: true
= subscribe_to "/lots/update"